.hearderPadrão{
    background-color: var(--vermelho);
    display: flex;
    gap: 20px;
}

.linkHearderPadrão:first-child{
    margin-left: auto;
}
.linkHearderPadrão:last-child{
    margin-right: 20px;
}
.hearderPadrão > div{
    display: flex;
    gap: 20px;
    padding: 5px 0;
}

.linkHearderPadrão{
    align-items: center;
    color: var(--branco);
    display: flex;
    text-decoration: none;
}

.dropdownHeader{
    display: none;
}

.dropdownHeader{
    display: flex;
    flex-direction: column;
}

.dropdownHeader div *{
    font: var(--textInput);
}

.dropdownHeader > div{
    background-color: var(--branco);
    border-radius: 5px;
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    margin-top: 35px;
    padding: 5px;
    position: absolute;
}

.alignCenter{
    align-items: center;
}

.dropdownHeader button, .dropdownHeader a{
    align-items: center;
    background: inherit;
    color: var(--preto);
    display: flex;
    gap: 5px;
}

.dropdownHeader a{
    text-decoration: none;
}

.dropdownHeader button {
    border: none;
}


.linkHearderPadrão img, .dropdownHeader img:first-child{
    width: 20px;
    margin-right: 2px;
}
.dropdownHeader img:last-child{
    width: 15px;
}

.dropdownHeader > button{
    color: var(--branco);
}

.cabecalhoHeader{
    background-color: var(--cinzaEscuro);
    display: flex;
    padding: 5px;
}

.cabecalhoHeader div{
    width: 5px;
    margin-left: 6vw;
    margin-right: 6px;
    background-color: var(--vermelho);
}

.cabecalhoHeader h1{
    font: var(--buttonLogin);
    color: var(--branco);
}

.cabecalhoHeader h1,
.cabecalhoHeader h2{
    margin-bottom: 5px;
}

.cabecalhoHeader h2{
    color: var(--cinzaClaro);
}