.divInputArquivo{
    width: 100%;
    margin-top: auto;
    display: flex;
}

.divInputArquivo input[type='file']{
    display: none;
}

.botaoInputArquivo{
    display: flex;
    align-items: center;
}