:root{
    --border: 10px;
    --tamanhoInput: 450px;
}

body{
    font: var(--textos);
}



/*formulário*/
.formAbrirChamado{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    background-color: var(--cinzaClaro);
    border-radius: 20px;
}

.formAbrirChamado h1{
    font: var(--títulos);
    text-align: center;
}

.formAbrirChamado img{
    width: 35px 35px;
    align-self: flex-end;
}

.formAbrirChamado div{
    margin:50px 0;
}




/*campos*/
.linha, .coluna, .coluna div{
    display: flex;
}

.coluna{
    justify-content: space-between;
}

.coluna div{
    flex-direction: column;
}

.linha {
    flex-direction: column;
}




/*inputs*/
input[type='file']{
    display: none;
}

.arquivo label{
    width: var(--tamanhoInput);
    background-color: var(--branco);
    border-radius: var(--border);
    padding: 10px;
    text-align: left;
    color: var(--cinzaEscuro);
}

.arquivo label:hover{
    cursor: pointer;
}

input[type='text']{
    width: var(--tamanhoInput);
    padding: 10px;
    background-color: var(--branco);
    border: none;
    border-radius: var(--border);
}

#local{
    width: auto;
}

textarea{
    height: 215px;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: var(--border);
}




/*select*/
select {
    width: var(--tamanhoInput);
    border: none;
}