.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: 5% 10%;
    padding: 2%;

    border-radius: 20px;
    background-color: var(--cinzaClaro);
}

h1{
    font: var(--títulos);
    margin-bottom: 5%;
}

/*FILTROS*/

.filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.filtros div{
    width: auto;
}

.filtro select{
    width: 300px;
}



/*TABELA DE CHAMADOS*/
.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 50px;

    background-color: var(--cinzaHover);
}

.header p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
}




summary{
    display: flex;
    height: 50px;
}

summary p{
    display: flex;
    justify-content: center;
    align-items: center;

}

details:nth-child(odd){
    background-color: var(--cinzaHover);
}

.id{
    width: 50px;
}

.data, .cliente {
    width: 140px;
}

.titulo{
    width: 200px;
}

.status, .tipo, .prioridade{
    width: 200px;
}

.descricao{
    padding: 10px;
}

.descricao p{
    margin-bottom: 2%;
    text-align: justify;

}





.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    padding: 5px;
    border-radius: 10px;
}


.iniciar{
    border: 0.5px solid #EF9A4C;
}
.iniciar:hover{
    background-color: #EF9A4C;
}


.cancelar{
    border: 0.5px solid var(--vermelho);
}
.cancelar:hover{
    background-color: var(--vermelho);
}
