/*TABELA DE CHAMADOS*/
.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    border-bottom: 0.5px solid var(--cinzaEscuro);
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.header p{
    align-items: center;
    display: flex;
    font-weight: 700;
    justify-content: center;
}

details summary{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

details summary p{
    display: flex;
    align-items: center;
    justify-content: center;

}

details details:nth-child(even){
    background-color: var(--cinzaHover);
}

.id{
    width: 50px;
}

.data, .nome {
    width: 140px;
}

.titulo{
    width: 300px;
    text-align: center;
}

.status, .tipo, .prioridade{
    width: 200px;
}

.prioridade{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioridade p{
    border-radius: 10px;
    color: var(--branco);
    padding: 0 5%;
    width: auto;
}

.urgente{
    background-color: #4d0047;
}
.alta {
    background-color: var(--vermelho);
}

.média {
    background-color: #EF9A4C;
}

.baixa {
    background-color: #E5D123;
}

.descricao{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.descricao p{
    margin-bottom: 2%;
    text-align: justify;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

details button{
    padding: 5px;
    border-radius: 10px;
}

.iniciar{
    background-color: transparent;
    border: 0.5px solid #EF9A4C;
    background-color: transparent;
}
.iniciar:hover{
    background-color: #EF9A4C;
}

.cancelar{
    background-color: transparent;
    border: 0.5px solid var(--vermelho);
    background-color: transparent;
}
.cancelar:hover{
    background-color: var(--vermelho);
}
