:root{
    --marginBotoesHome: 30px;
    --tamanhoImagensBotoesHome: 12vw;
    --borderRadiusBotoesHome: 5vw;
    --gapBotoesPequenosHome: 20px;
    --paddingBotoesHome: 2px
}

.divbotoesHome{
    display: flex;
    flex-wrap: wrap;
    margin: var(--marginBotoesHome) auto;
}

.botoesHome{
    background-color: var(--cinzaPadrao);
    border-radius: var(--borderRadiusBotoesHome);
    display: flex;
    text-decoration: none;
    width: var(--tamanhoBotoesHome);
    padding: var(--paddingBotoesHome);
}
.grande{
    height: var(--tamanhoBotoesHome);
}
.botoesHome div{
    margin: auto;
    text-align: center;
}

.botoesHome img{
    width: var(--tamanhoImagensBotoesHome);
}

.botoesPequenoHome{
    display: flex;
    flex-direction: column;
    gap: var(--gapBotoesPequenosHome)
}

.pequeno{
    height: calc(var(--tamanhoBotoesHome) / 2 - var(--gapBotoesPequenosHome));
}

.botoesHome h1{
    color: var(--branco);
    font: var(--texto);
}

.botoesHome:hover{
    background-color: var(--cinzaEscuro);
}

@media (max-width: 649px){
    :root{
        --tamanhoBotoesHome: calc(15vw + 70px);
        --gapBotoesHome: 30px;
    }
    .divbotoesHome{
        gap: var(--gapBotoesHome);
    }
    .divbotoesHome >* {
        margin: auto;
    }
}

@media (min-width: 650px){
    :root{
        --tamanhoBotoesHome: 20vw;
    }
    .botoesHome, .botoesPequenoHome{
        margin-left: auto;
    }
    .botoesHome:last-child{
        margin-right: auto;
    }
}


/* ESTILIZAÇÃO DO MANUAL DO USUÁRIO */

.manual{
    background-color: var(--vermelho);

    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;

    padding: 5%;

    text-align: center;

    border: 5px solid black;
    border-radius: 12px;
}

.manual h1{
    font-weight: bolder;
    font-size: 200%;
}

.manual h2{
    font-size: 150%;
    text-align: center;
    font-weight: 500;
}

.manual h3{
    font-size: 130%;
    text-align: center;
    font-weight: 400;
    
}

.manual a{
    color: white;
}

.corpo{
    text-align: left;
}

.manual #urgente, #alta, #media, #baixa, 
#aberto, #andamento, #concluido, #reaberto, #fechado, #cancelado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 12px;
    font-weight: 600;
}


/* PRIORIDADE */
.manual #urgente{
    background-color: #76026c;
}

.manual #alta {
    background-color: rgb(255, 0, 17);
}

.manual #media {
    background-color: orange;
}

.manual #baixa {
    background-color: yellow;
}

/* STATUS */
.manual #aberto{
    background-color: rgb(50, 117, 226);
}

.manual #andamento{
    background-color: yellow ;
}

.manual #concluido{
    background-color: lightgreen;
}

.manual #reaberto{
    background-color: orange;
}

.manual #fechado{
    background-color: green;
}

.manual #cancelado{
    background-color: red;
}