:root{
    --tamanhoCheckbox:20px;
    --larguraDivFormsLogin: 37vw;
    /* BORDAS */
    --borderRadiusDivFormsLogin: 1.25rem;
    /* PADDINGS */
    --paddingSeparacao: 20px;
    --paddingDivFormsLogin: calc(10px + 0.5vw);
    /* GAP */
    --EspacamentoItensDivFormsLogin: 4vw;
    --marginDivFormsLogin: 10px;
    --DistanciaCantoDaTelaDivFormsLogin: 10px;

    --EspacamentoItensFormsLogin: 2px;
    --widthFormsLogin: 90%;
    --paddingFormsLogin: 10px;
    --borderRadiusFormsLogin: 0.625rem;
    --widthImgFormsLogin: calc(1vw + 20px);
    --marginRightCheckboxLogin: 0.625rem;

    --borderRadiusSubmitLogin: 20px;
    --borderWidthSubmitLogin: 2px;
    --widthSubmitLogin: 100px;
    --gapBotoesLogin: 30px;

    --borderWidthBotaoTrocaTelaLogin: 2px;
    --borderRadiusBotaoTrocaTelaLogin: 20px;
    --paddingBotaoTrocaTelaLogin: 5px;
    --widthBotaoTrocaTelaLogin: 25vw;
}

/* FUNDO */
.fundoLogin {
    display: flex;
    height: 100%;
    width: 100%;
}
.divLogin, .divTrocaTelaLogin {
    flex: 1;
}
.divLogin{
    background-color: var(--vermelho);
}

.fundoLogin > div, .imagemRaio{
    height: 100vh;
}

/* TÍTULO */
.divLogin h1{
    color: var(--branco);
    font: var(--títulosGrande);
    text-align: center;
}

/* FORMS */
.formTelaLogin{
    background-color: var(--cinzaClaro);
    border-radius: var(--borderRadiusDivFormsLogin);
    padding: var(--paddingDivFormsLogin);
    position: absolute;
    width: var(--larguraDivFormsLogin);
}
.formTelaLogin form{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 var(--marginDivFormsLogin);
    gap: var(--EspacamentoItensDivFormsLogin);
    justify-content: center;
    margin-bottom: var(--EspacamentoItensDivFormsLogin);
}

.formTelaLogin form span{
    align-items: center;
    background-color: var(--branco);
    border-radius: var(--borderRadiusFormsLogin);
    display: flex;
    margin: 0 auto;
    gap: var(--EspacamentoItensFormsLogin);
    padding: var(--paddingFormsLogin);
    width: var(--widthFormsLogin);
}

.formTelaLogin form > span > img{
    width: var(--widthImgFormsLogin)
}

.formTelaLogin form input{
    border: 0;
    width: 100%;
}

/* OLHO */
.imagemOlho{
    cursor: pointer;
}

/* CHECKBOX */
.checkboxFormLogin {
    align-items: center;
    background-color: inherit;
    cursor: pointer;
    display: flex;
}

.checkboxFormLogin input[type="checkbox"], .checkboxFormLogin img{
    height: var(--tamanhoCheckbox);
    width: var(--tamanhoCheckbox);
    cursor: pointer;
    margin-right: var(--marginRightCheckboxLogin);
}
.checkboxFormLogin input[type="checkbox"] {
    appearance: none;
    background: var(--cinzaPadrao);
}
.checkboxFormLogin img{
    display: none;
}

.checkboxFormLogin input[type="checkbox"]:checked + label img {
    display: block;
}
.checkboxFormLogin input[type="checkbox"]:checked {
    display: none;
}

/* Botões */
.divButtonFormLogin{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gapBotoesLogin)
}
.divButtonFormLogin *, .divButtonFormLogin input[type="submit"]{
    text-decoration: none;
    text-align: center;
    border-radius: var(--borderRadiusSubmitLogin);
    border-width: var(--borderWidthSubmitLogin);
    border-style: solid;
    margin: auto;
    width: var(--widthSubmitLogin);
}

.divButtonFormLogin input[type="submit"]{
    border-color: var(--vermelho)
}

.divButtonFormLogin input[type="submit"]:hover{
    background-color: var(--vermelho)
}

.buttonCadastroEmpresa{
    border-color: var(--verdeClaro)
}

.buttonCadastroEmpresa:hover{
    background-color: var(--verdeClaro)
}


.divTrocaTelaLogin{
    display: flex;
}
.divTrocaTelaLogin *{
    margin: auto;
    text-align: center;
    text-decoration: none;
    font: var(--buttonLogin);
    border: var(--vermelho) solid var(--borderWidthBotaoTrocaTelaLogin);
    border-radius: var(--borderRadiusBotaoTrocaTelaLogin);
    padding: var(--paddingBotaoTrocaTelaLogin);
    width: var(--widthBotaoTrocaTelaLogin);
}
.divTrocaTelaLogin *:hover{
    background-color: var(--vermelho);
}
.loginCliente{
    right: var(--DistanciaCantoDaTelaDivFormsLogin);
}

.loginEmpresa{
    left: var(--DistanciaCantoDaTelaDivFormsLogin);
}