:root{
    --borderDivPesquisarFuncionário: var(--cinzaEscuro) solid 0.5px;
    --borderListaFuncionarios: var(--cinzaEscuro) solid var(--borderWidthListaFuncionarios);
    --borderWidthListaFuncionarios: 2px;
    --borderSelectTabelaFuncionarios: 1.5px;

    --borderRadiusSelectTabelaFuncionarios: 5px;
    --borderRadiusDivButtonTabelaFuncionarios:5px;
    --borderRadiusDivTodosFuncionarios: 20px;
    --borderRadiusPesquisarFuncionário: 20px;

    --fontHeightTituloTabelaFuncionarios: 700;
    
    --marginDivTabelaFuncionario: 50px;
    --marginDivTodosFuncionarios: 20px;
    --marginInputPesquisarFuncionário: 1px;
    --marginLeftImgPesquisarFuncionário: calc((var(--widthImgPesquisarFuncionário) + 2px + var(--marginInputPesquisarFuncionário)) * -1);

    --minHeightDivTodosFuncionarios: 80vh;
    --minHeightDivListaFuncionarios: 200px;
    --minHeightLinhasListaFuncionarios: 30px;
    
    --heightDivListaFuncionarios: 60vh;
    --heightDivTabelaFuncionario: 50vh;
    --heightSelectTabelaFuncionarios: calc(30px - 2px);
    
    --paddingDivButtonTabelaFuncionarios:2px 20px;
    --paddingDivTodosFuncionarios: 20px;
    --paddingInputPesquisarFuncionário: 10px;
    --padingDivPesquisarFuncionário: 5px 10px;

    --widthColuna1TabelaFuncionarios: calc(40% - var(--MarginColunasTabelaFuncionarios));
    --widthColuna2TabelaFuncionarios: 20%;
    --widthColuna3TabelaFuncionarios: calc(40% - var(--MarginColunasTabelaFuncionarios));
    --widthDivPesquisarFuncionário: 70vw;
    --widthImgPesquisarFuncionário: 20px;
    --widthInputPesquisarFuncionário: calc(var(--widthDivPesquisarFuncionário) - 2 * var(--marginInputPesquisarFuncionário) - var(--paddingInputPesquisarFuncionário));
}

.divTodosFuncionarios{
    background-color: var(--cinzaClaro);
    border-radius: var(--borderRadiusDivTodosFuncionarios);
    margin: var(--marginDivTodosFuncionarios) auto;
    min-height: var(--minHeightDivTodosFuncionarios);
    padding: var(--paddingDivTodosFuncionarios);
    width: var(--widthDivTodosFuncionarios);
}

/* BARRA DE PESQUISA */
.divPesquisarFuncionário{
    background-color: var(--branco);
    border: var(--borderDivPesquisarFuncionário);
    border-radius: var(--borderRadiusPesquisarFuncionário);
    display: flex;
    margin: 0 auto;
    padding: var(--padingDivPesquisarFuncionário);
    width: var(--widthDivPesquisarFuncionário);
}

.divPesquisarFuncionário input{
    appearance: none;
    border: 0;
    border-radius: var(--borderRadiusPesquisarFuncionário);
    height: var(--widthImgPesquisarFuncionário);
    margin: 0 var(--marginInputPesquisarFuncionário);
    padding: 0 var(--paddingInputPesquisarFuncionário);
    width: var(--widthInputPesquisarFuncionário);
}

.divPesquisarFuncionário img{
    height: var(--widthImgPesquisarFuncionário);
    margin-left: var(--marginLeftImgPesquisarFuncionário);
    transform: scaleX(-1);
}

/* TABELA FUNCIONÁRIOS */
.divListaFuncionarios{
    width: 100%;
    border-bottom: var(--borderListaFuncionarios);
}

/* COLUNA E LINHAS DA TABELA */
.divTituloTabelaFuncionarios,
.divListaFuncionarios > div{
    align-items: center;
    text-align: center;
    display: flex;
    height: 100%;
}

.bordasLaterais{
    align-items: center;
    border-left: var(--borderListaFuncionarios);
    border-right: var(--borderListaFuncionarios);
    display: flex;
    min-height: var(--minHeightLinhasListaFuncionarios);
}

.bordasLaterais > *{
    margin: auto;
}

.divListaFuncionarios > div:nth-child(odd) {
    background-color: var(--branco); /* DIVS IMPARES*/
}

.divListaFuncionarios > div:nth-child(even) {
    background-color: var(--cinzaClaro); /* DIVS PARES */
}

.divListaFuncionarios:has(div:nth-child(11)){ /* SE TIVER MAIS QUE 10 FUNCIONÁRIOS*/
    height: var(--heightDivListaFuncionarios);
    min-height: var(--minHeightDivListaFuncionarios);
    overflow-y: scroll;
}

/* TÍTULO TABELA */
.divTituloTabelaFuncionarios{
    border-bottom: var(--borderListaFuncionarios);
    width: 100%;
}

.divTituloTabelaFuncionarios *{
    font-weight: var(--fontHeightTituloTabelaFuncionarios);
}


/* FUNCIONÁRIOS */
.divTabelaFuncionarios{
    margin-top: var(--marginDivTabelaFuncionario);
    min-height: var(--heightDivTabelaFuncionario);
    width: 100%;
}

/* SELECT */
.selectTabelaFuncionarios{
    appearance: none;
    background-color: transparent;
    border-radius: var(--borderRadiusSelectTabelaFuncionarios);
    height: var(--heightSelectTabelaFuncionarios);
    width: 100%;
}

.divListaFuncionarios > div:nth-child(even) > .selectTabelaFuncionarios {
    border: var(--branco) solid var(--borderSelectTabelaFuncionarios);
}

.divListaFuncionarios > div:nth-child(odd) > .selectTabelaFuncionarios {
    border: var(--cinzaClaro) solid var(--borderSelectTabelaFuncionarios);
}

/* BOTÃO EDITAR */
.divButtonTabelaFuncionarios{
    display: flex;
}

.divButtonTabelaFuncionarios > *{
    border-radius: var(--borderRadiusDivButtonTabelaFuncionarios);
    color: var(--branco);
    padding: var(--paddingDivButtonTabelaFuncionarios);
    text-decoration: none;
}

.vermelho{
    background-color: var(--vermelho)
}
.vermelho:hover{
    background-color: var(--vermelhoEscuro)
}

.divTituloTabelaFuncionarios > *:first-child,
.divListaFuncionarios > div > *:first-child{
    width: var(--widthColuna1TabelaFuncionarios);
}

.divTituloTabelaFuncionarios > *:nth-child(2),
.divListaFuncionarios > div > *:nth-child(2){
    margin: 0 var(--MarginColunasTabelaFuncionarios);
    width: var(--widthColuna2TabelaFuncionarios);
}

.divTituloTabelaFuncionarios > *:last-child,
.divListaFuncionarios > div > *:last-child{
    width: var(--widthColuna3TabelaFuncionarios);
}

@media (max-width: 569px){
    :root{
        --widthTabelaFuncionarios: calc(
            var(--minWidthColuna1TabelaFuncionarios) +
            var(--minWidthColuna2TabelaFuncionarios) +
            var(--minWidthColuna3TabelaFuncionarios) +
            2 * var(--MarginColunasTabelaFuncionarios) + 
            4 * var(--borderWidthListaFuncionarios));
        --minWidthColuna1TabelaFuncionarios: 200px;
        --minWidthColuna2TabelaFuncionarios: 100px;
        --minWidthColuna3TabelaFuncionarios: 250px;
        --MarginColunasTabelaFuncionarios: 10px;
        --widthDivTodosFuncionarios: calc(100vw - 2 * var(--paddingDivTodosFuncionarios));
    }

    .divTabelaFuncionarios{
        overflow-x: scroll;
    }

    .divTituloTabelaFuncionarios,
    .divListaFuncionarios{
        min-width: var(--widthTabelaFuncionarios);
    }
    .divTituloTabelaFuncionarios > *:first-child,
    .divListaFuncionarios > div > *:first-child{
        min-width: var(--minWidthColuna1TabelaFuncionarios);
    }

    .divTituloTabelaFuncionarios > *:nth-child(2),
    .divListaFuncionarios > div > *:nth-child(2){
        min-width: var(--minWidthColuna2TabelaFuncionarios);
    }

    .divTituloTabelaFuncionarios > *:last-child,
    .divListaFuncionarios > div > *:last-child{
        min-width: var(--minWidthColuna3TabelaFuncionarios);
    }
}

@media (min-width: 570px){
    :root{
        --MarginColunasTabelaFuncionarios: 15px;
    }
    .divListaFuncionarios{
        overflow-x: hidden;
    }
}

@media (min-width: 570px) and (max-width:780px){
    :root{
    --widthDivTodosFuncionarios: calc(100vw - 2 * var(--paddingDivTodosFuncionarios));
    }
}
@media (min-width: 781px){
    :root{
    --widthDivTodosFuncionarios: calc(80vw - 2 * var(--paddingDivTodosFuncionarios));
    }
}