/* FONT-FAMILY */
@font-face {
  font-family: "Noto Serif Bengali";
  src: url(fonts/Noto\ Serif\ Bengali.ttf);
}

:root{
  /* CORES */
  --branco:#FBFBFB;
  --cinzaHover: #F7F7F7;
  --cinzaClaro: #dbd9d9;
  --cinzaFundo: #F2F2F2;
  --cinzaPadrao: #7D7D7D;
  --cinzaEscuro: #4B4B55;
  --preto:#000000;
  --vermelho:#F4324A;
  --vermelhoClaro: #FF516C;
  --cancelado: #FF5151;
  --reaberto: #EF9A4C;
  --andamento: #e9d62d;
  --concluido: #61E366;
  --verdeClaro:#34B132;
  --aberto: #5182FF;
  --azulClaro: #9BA5B7;
  /* FONTES-GERAIS */
  --widthTítulosGrande:calc(20px + 2.5vw);
  --títulosGrande: 400 var(--widthTítulosGrande) "Noto Serif Bengali";
  --fontBotãoLogin: 400 calc(20px + 0.5vw) "Noto Serif Bengali";
  --fontFecharPopUpCadastro: 800 25px "Noto Serif Bengali";
  --títulosforms: 800 20px "Noto Serif Bengali";
  --títulos: 400 20px "Noto Serif Bengali";
  --textos: 400 15px "Noto Serif Bengali";
  --textErro: 800 10px "Noto Serif Bengali";
  --textInput: 400 10px "Noto Serif Bengali";

  /* POP-UP DE CADASTRO */
  --topPopUpCadastroComSucesso: 5px;
  --paddingPopUpCadastroComSucesso: 20px;
  --borderRadiusPopUpCadastroComSucesso: 5px;
  --borderWidthPopUpCadastroComSucesso: 0.2px;
  --boxShadowPopUpCadastroComSucesso: 10px;
  --marginFecharPopUpCadastro: 0 -10px -10px 0;
}

/* GERAL */
*{
  color: var(--preto);
  font: var(--textos);
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--branco);
  width: 100%;
}

a,
button,
input[type="submit"],
.botaoInputArquivo,
.checkboxFormLogin,
.checkboxFormLogin *{
  cursor: pointer;
}

.erro{
  font: var(--textErro);
  text-align: center;
  color: var(--vermelho);
}

/* POP-UP DE CADASTRO */
.popUpCadastroComSucesso {
    position: fixed;
    top:var(--topPopUpCadastroComSucesso);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpCadastroComSucesso div {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: var(--paddingPopUpCadastroComSucesso);
    padding-top: 0;
    border-radius: var(--borderRadiusPopUpCadastroComSucesso);
    border: var(--cinzaPadrao) solid var(--borderWidthPopUpCadastroComSucesso);
    text-align: center;
    box-shadow: 0px 0px var(--boxShadowPopUpCadastroComSucesso) rgba(0, 0, 0, 0.2);
}

.popUpCadastroComSucesso div span {
    cursor: pointer;
    margin:var(--marginFecharPopUpCadastro);
    font: var(--fontFecharPopUpCadastro);
    color: var(--cinzaEscuro);
}

.popUpCadastroComSucesso div h1 {
    color: var(--cinzaEscuro);
}  