/* FONT-FAMILY */
@font-face {
  font-family: "Noto Serif Bengali";
  src: url(fonts/Noto\ Serif\ Bengali.ttf);
}

:root{
  /* CORES */
  --branco:#FBFBFB;
  --cinzaHover: #F7F7F7;
  --cinzaClaro: #dbd9d9;
  --cinzaFundo: #F2F2F2;
  --cinzaPadrao: #7D7D7D;
  --cinzaEscuro: #4B4B55;
  --preto:#000000;
  --roxo: #4d0047;
  --vermelho:#F4324A;
  --vermelhoEscuro:#d2273b;
  --vermelhoClaro: #FF516C;
  --vermelho:#F4324A;
  --vermelhoEscuro:#d2273b;
  --cancelado: #FF5151;
  --reaberto: #EF9A4C;
  --amarelo: #E5D123;
  --andamento: #e9d62d;
  --concluido: #61E366;
  --verdeClaro:#34B132;
  --aberto: #5182FF;
  --azulClaro: #9BA5B7;
  /* FONTES-GERAIS */
  --widthTítulosGrande:calc(20px + 2.5vw);
  --títulosGrande: 400 var(--widthTítulosGrande) "Noto Serif Bengali";
  --fontBotãoLogin: 400 calc(20px + 0.5vw) "Noto Serif Bengali";
  --fontFecharPopUpCadastro: 800 25px "Noto Serif Bengali";
  --títulosforms: 800 20px "Noto Serif Bengali";
  --títulos: 400 20px "Noto Serif Bengali";
  --textos: 400 15px "Noto Serif Bengali";
  --textErro: 800 10px "Noto Serif Bengali";
  --textInput: 400 10px "Noto Serif Bengali";
}

/* GERAL */
*{
  color: var(--preto);
  font: var(--textos);
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--branco);
  width: 100%;
}

a,
button,
input[type="submit"],
.botaoInputArquivo,
.checkboxFormLogin,
.checkboxFormLogin *{
  cursor: pointer;
}

.erro{
  font: var(--textErro);
  text-align: center;
  color: var(--vermelho);
}