/* FONT-FAMILY */
@font-face {
  font-family: "Noto Serif Bengali";
  src: url(fonts/Noto\ Serif\ Bengali.ttf);
}

:root{
  /* CORES */
  --branco:#FBFBFB;
  --cinzaHover: #F7F7F7;
  --cinzaClaro: #F2F2F2;
  --cinzaPadrao: #7D7D7D;
  --cinzaEscuro: #4B4B55;
  --preto:#000000;
  --vermelho:#F4324A;
  --verdeClaro:#34B132;
  /* FONTES-GERAIS */
  --títulosGrande: 400 calc(20px + 2.5vw) "Noto Serif Bengali";
  --buttonLogin: 400 calc(20px + 0.5vw) "Noto Serif Bengali";
  --títulos: 400 20px "Noto Serif Bengali";
  --textos: 400 15px "Noto Serif Bengali";
  --textErro: 800 10px "Noto Serif Bengali";
  --textInput: 400 10px "Noto Serif Bengali";
}

/* GERAL */
*{
  color: var(--preto);
  font: var(--textos);
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--branco);
  width: 100%;
}

a,
button,
input[type="button"]{
  cursor: pointer;
}

.erro{
  font: var(--textErro);
  text-align: center;
  color: var(--vermelho);
}